<!DOCTYPE html>
<html>

<head>
    <title>To Do</title>
    <link rel="stylesheet" href="{{ css_path }}">
</head>

<body>
    <h1>To Do</h1>
    <pre>{{ form_values }}</pre>
    <form method="POST">
        {%- if not items %}
        <p>Start your list by adding an item!</p>
        {%- else %}
        <ol>
            {%- for key, val in items | dictsort %}
            <li>
                {%- if form_values and form_values.edit and form_values.edit == key %}
                <input type="text" name="text" value="{{ val|e }}">
                <button name="save" value="{{ key }}">💾</button>
                {%- else %}
                {{ val|e }}
                <button name="edit" value="{{ key }}">✏️</button>
                <button name="remove" value="{{ key }}">🗑️</button>
                {%- endif %}
            </li>
            {%- endfor %}
        </ol>
        {%- endif %}
        <input type="text" name="new_item">
        <input type="submit" name="add_item" value="Add Item">
    </form>
</body>

</html>
